#console {
    width: 100%;
    height: 600px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    overflow-y: auto;
    overflow-x: auto;
}

.logLine {
    margin-bottom: 0;
    white-space: nowrap;
    display: inline
}

.logStart {
    color: rgb(0, 255, 0);
}

.logTimestamp {
    color: rgb(0, 0, 255);
}

.logSource {
    color: gray;
}

#consoleInput {
    border-radius: 0!important;
}